<template>
    <div>
        <h3>{{message}}-request</h3>
        <form v-on:submit.prevent="sendData">
            <!-- <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" v-model="username" autocomplete="username"/>
            </div> -->
            <div class="form-group">
                <label for="url">Youtube Video URL</label>
                <input id="url" type="text" name="url" v-model="url" autocomplete="url"/>
            </div>
            <input type="submit"/>
        </form>
        
        <div v-if="results" class="container">
            <div class="row">
                <div class="span5">
                    <table class="table table-striped table-condensed">
                          <thead>
                          <tr>
                              <th>Quality</th>
                              <th>Format</th>
                              <th>Download Link</th>                                    
                          </tr>
                      </thead>   
                      <tbody>
                        <tr v-for="result in results.formats">
                            <td>{{ result.quality }}</td>
                            <td>{{ result.container }}</td>
                            <td><a :href="result.url" class="label label-success">Download</a>
                            </td>                                       
                        </tr>
                                                
                      </tbody>
                    </table>
                    </div>
            </div>
        </div>
        <h3>Result:</h3>
        <pre>{{results}}</pre>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                message: "",
                results: {},
                error: "",
                url: ''
            }
        },
        methods: {
            sendData: function() {
                const data = {
                    //username: this.username,
                    url: this.url,
                }
                axios.post("/post", data)
                    .then(result => {
                        this.results = result.data;
                    })
                    .catch(error => {
                        this.error = error.data;
                    })
            }
        }
    }
</script>

<style>
    div.form-group {
        padding: 5px;
    }

    div.form-group > * {
        padding: 5px;
    }

    div.form-group input {
        display: inline-block;
    }

</style>